/* Smooth scroll for anchor links */
html {
    scroll-behavior: smooth;
}


body {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Zoho Puvi';
    color: #777777;
}

a {
    text-decoration: none;
    color: inherit;
}

.no-wrap {
  white-space: nowrap;
}

/* Common Animation Keyframes */

@keyframes popFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  60% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


/* Header */

.header {
    background-color: #FFFFFF;
    color: #777777;
    /* height: 70px; */
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    position: sticky;
    top: 0;
    z-index: 999;
}

.pilabzLogo {
    /* height: 70px; */
    width: 98px;
    padding: 20px;
    padding-left: 30px;
    display: inline-block;
    z-index: 1000;
    order: 1;
    cursor: pointer;
}

.picadsLogo {
    margin-right: 3vw;
    padding: 0px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #0069bd;
    cursor: pointer;
}

.dummyNavDiv {
    /* height: 70px; */
    width: 98px;
    padding: 20px;
    display: inline-block;
    z-index: 1000;
    order: 3;
}

/* NavBar */

nav {
    /* background: #ff7070; */
    /* padding: 12px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* font-family: "Roboto", serif; */
    font-optical-sizing: auto;
    font-style: normal;
    /* color: white; */
    font-size: 16px;
    font-weight: 400;
    font-variation-settings: "wdth" 100;
    /* letter-spacing: 2px; */
    width: 100%;
    z-index: 2000;
}

.nav2 {
    width: 95%;
    justify-self: center;
}

nav ul {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0;
    list-style: none;
    order: 3;
}

.nav2 ul {
    width: initial;
}

nav a {
    color: #777777;
    text-decoration: none;
}

nav a.active {
    color: #0079D1;
    font-weight: 600;
}

.menuBar {
    /* float: right; */
    width: 7%;
    object-fit: scale-down;
    z-index: 3000;
}

.checkbtn {
    /* float: right; */
    cursor: pointer;
    height: 10px;
    display: none;
    z-index: 3000;
    order: 2;
}

#check, #check1 {
    display: none;
}

header nav:first-of-type {
    transition: opacity 0.3s ease, max-height 0.3s ease, padding 0.3s ease;
    overflow: hidden;
    max-height: 100px; /* set this to your nav's height */
    border-bottom: #B5B5B5 1px solid;

}

header nav:first-of-type.hiddenNav {
    opacity: 0;
    max-height: 0;
    padding: 0;
    margin: 0;
}

.auth-buttons button {
    margin-left: 1.5vw;
    padding: 1vh 2vw;
    border: none;
    border-radius: 2.5vh;
    cursor: pointer;
    font-family: 'Zoho Puvi';
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    border-radius: 4.5vh !important;
    width: 126px;
    height: 46px;
    font-size: 0.8rem;
    }

.btn-signin {
    background: transparent;
    font-weight: 500;
    color: #0069bd;
    border: 1.4px solid #0069bd !important;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.btn-signup {
    background: #0069bd;
    font-weight: 500;
    color: white;
    margin-right: 1vw;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  */
}

.btn-signup:hover, .btn-signup:active {
    /* transform: translateY(0.3vh); Simulates the button being pressed down */
    background-color: #035EA6 !important;
}

.btn-signin:hover, .btn-signin:active {
    /* transform: translateY(0.3vh); Simulates the button being pressed down */
    background-color: #EAF6FF !important;
    color: #0069bd !important;
}

/* .dummyNow {
    height: 1000vh;
} */

/* Pages */

.pcSectionContainer {
    background-color: #FFFFFF;
}

.pcSection {
    scroll-margin-top: 80px;
}

/* Section1  */

.pcSection1 {
    /* height: calc(100dvh - 78.64px); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    color: #0079D1;
}

.pcTextContainer {
    z-index: 1;
}

.pcTextContainer div {
    margin: 12px 0px;
}

.pcTitle {
    font-size: clamp(38px, 4.4vw, 80px);
}

.pcSubTitle {
    font-size: clamp(18px, 2.1vw, 38px);
}

.pcDesc {
    font-size: clamp(12px, 1vw, 16px);
    line-height: clamp(20px, 1.72vw, 33px);
    color: #535353;
    padding: 0 clamp(20px, 15.6vw, 300px);
    text-align: center;
}

.pcTextContainer button {
    width: clamp(180px, 14.6vw, 280px);
    height: clamp(45px, 3.4vw, 65px);
    padding: clamp(12px, 1.15vw, 22px) clamp(25px, 2.8vw, 60px);
    background-color: #0079D1;
    color: #FFFFFF;
    border: none;
    border-radius: clamp(4px, 0.42vw, 8px);
    font-size: clamp(14px, 1.04vw, 20px);
    font-family: 'Zoho Puvi';
    font-weight: 600;
    margin-top: clamp(10px, 1.04vw, 20px);
    cursor: pointer;
}

/* Test Anim  */

.pcAnimContainer {
    width: 100%;
    position: relative;
    margin: 0 auto;
    transform-origin: center top; /* Scale from top center */
}

@keyframes fadeFloat {
  0% {
    transform: translate(0%, 0%) scale(1);
    opacity: 0.8;
  }
  20% {
    transform: translate(-40%, 60%) scale(0.85);
    opacity: 1;
  }
  40% {
    transform: translate(50%, -50%) scale(1.05);
    opacity: 0.7;
  }
  60% {
    transform: translate(-60%, -40%) scale(1);
    opacity: 0.9;
  }
  80% {
    transform: translate(40%, 70%) scale(0.88);
    opacity: 0.85;
  }
  100% {
    transform: translate(0%, 0%) scale(1);
    opacity: 0.8;
  }
}

.pcGreenLoopImgs {
    width: 100%;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    /* animation: fadeFloat 60s ease-in-out infinite alternate; */
    /* position: absolute; */
    -webkit-mask-image: linear-gradient(to bottom,
    rgba(0,0,0,0) 0%, 
    rgba(0,0,0,1) 30%, 
    rgba(0,0,0,1) 70%, 
    rgba(0,0,0,0) 100%);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-image: linear-gradient(to bottom,
    rgba(0,0,0,0) 0%, 
    rgba(0,0,0,1) 30%, 
    rgba(0,0,0,1) 70%, 
    rgba(0,0,0,0) 100%);
}

.pcGreenLoopImg {
    width: 30%;
}

.pcGreenLoopImg1 {
    animation: fadeFloat 50s ease-in-out infinite alternate;
    animation-delay: 2s;
}

.pcGreenLoopImg2 {
    margin-top: 15vh;
    animation: fadeFloat 50s ease-in-out infinite alternate;
    animation-delay: 4s;
}

.pcGreenLoopImg3 {
    animation: fadeFloat 50s ease-in-out infinite alternate;
    animation-delay: 8s;
}

.pcGreenLoopImg4 {
    margin-top: 15vh;
    animation: fadeFloat 50s ease-in-out infinite alternate;
    animation-delay: 6s;
}

.pcGreenLoopImg5 {
    animation: fadeFloat 50s ease-in-out infinite alternate;
    animation-delay: 0s;
}

.pcMainImgContainer {
    margin-top: -35vh;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    background-image: url(../assets/images/pages/heroMainImg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
 /* Top & Bottom gradient */
    -webkit-mask-image: linear-gradient(to bottom,
        rgba(0,0,0,0) 0%, 
        rgba(0,0,0,1) 20%, 
        rgba(0,0,0,1) 80%, 
        rgba(0,0,0,0) 100%),
    /* Left & Right gradient */
    linear-gradient(to right,
        rgba(0,0,0,0) 0%, 
        rgba(0,0,0,1) 5%, 
        rgba(0,0,0,1) 95%, 
        rgba(0,0,0,0) 100%);

    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    -webkit-mask-composite: intersect; /* Safari/Chrome */
    
    mask-image: linear-gradient(to bottom,
        rgba(0,0,0,0) 0%, 
        rgba(0,0,0,1) 20%, 
        rgba(0,0,0,1) 80%, 
        rgba(0,0,0,0) 100%),
    linear-gradient(to right,
        rgba(0,0,0,0) 0%, 
        rgba(0,0,0,1) 5%, 
        rgba(0,0,0,1) 95%, 
        rgba(0,0,0,0) 100%);
    
    mask-repeat: no-repeat;
    mask-size: cover;
    mask-composite: intersect; /* Firefox */
}

.pcMainImgContainerMobileWrapper {
    display: none;
}

.pcSubImg {
    height: auto;
    width: 20vw;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.3s ease;
}

/* Active state triggers animation */
.pcSubImg.show {
    animation: popFadeIn 0.8s ease-out forwards;
}

/* Add delays for each when they get the show class */
.pcSubImg1.show {
    animation-delay: 1s;
}

.pcSubImg2.show {
    animation-delay: 1.5s;
}

.pcSubImg4.show {
    animation-delay: 0.5s;
}

.pcSubImg1 {
    margin-right: 25vw;
    margin-top: 35vh;
}

.pcSubImg2 {
    margin-left: 20vw;
    margin-top: 35vh;
}

.pcSubImg3 {
    margin-right: 15vw;
    margin-top: 20px;
    margin-bottom: 40vh;
}

.pcSubImg4 {
    margin-left: 15vw;
    margin-top: 20px;
    margin-bottom: 40vh;
}

/* Section 2 */

.pcSection2 {
    z-index: 2;
    margin-top: clamp(80px, 22vw, 150px);
}

.pcSecTitle {
    font-size: clamp(24px, 2.08vw, 40px);
    font-weight: 600;
    text-align: center;
    color: #0079D1;
    margin: 0px clamp(60px, 3.13vw, 80px) clamp(25px, 2.08vw, 40px);
    white-space: pre-wrap;
}

.pcFeaturesContainer {
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(15px, 1.56vw, 30px);
}

.pcFeature {
    display: flex;
    justify-content: center;
    width: 70%;
    background-color: #EAF4FC;
    border-radius: 10px;
}

.pcFeature2 .pcFeatureContent, .pcFeature4 .pcFeatureContent {
    order: 1;
}

.pcFeatureContent {
    width: 60%;
    padding: clamp(20px, 2.08vw, 40px);
}

.pcFeatureTitle {
    font-size: clamp(16px, 1.82vw, 35px);
    font-weight: 600;
    color: #000000;
    line-height: clamp(24px, 2.08vw, 40px);
}

.pcFeatureDetails {
    font-size: clamp(12px, 1.04vw, 20px);
    font-weight: 600;
    line-height: clamp(20px, 1.72vw, 33px);
    margin: clamp(10px, 2.08vw, 40px) 0px 0px;
}

.pcFeatureDetails ul {
    padding-left: clamp(10px, 1.04vw, 20px);
    margin: 0px;
}

.pcFeatureImg {
    width: 40%;
    padding: clamp(10px, 1.04vw, 20px);
}

/* Section 3 */

.pcSection3 {
    margin-top: clamp(40px, 11vw, 75px);
}

.pcUniqueContainer {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(9, clamp(80px, 8.5vw, 140px));
    grid-template-columns: repeat(3, 30%);
    justify-content: center;
    align-content: center; 
    gap: 15px;
}

.pcUnique {
    display: flex;
    flex-direction: column;
    /* width: 30%; */
    background-color: rgba(237, 237, 237, 0.55);
    border-radius: 10px;
}

.pcUnique1 {
    grid-row: span 5;
}

.pcUnique2, .pcUnique3 {
    grid-row: span 2;
}

.pcUnique4 {
    grid-row: span 3;
}

.pcUnique5 {
    grid-row: span 6;
}

.pcUnique6 {
    grid-row: span 5;
}

.pcUnique7 {
    grid-row: span 4;
}

.pcUniqueContent {
    padding: clamp(20px, 2.08vw, 40px);
}

.pcUniqueTitle {
    font-size: clamp(16px, 1.82vw, 35px);
    font-weight: 600;
    color: #000000;
    line-height: clamp(24px, 2.08vw, 40px);
}

.pcUniqueDetails {
    font-size: clamp(12px, 1.04vw, 20px);
    font-weight: 600;
    line-height: clamp(20px, 1.72vw, 33px);
    margin: clamp(10px, 2.08vw, 40px) 0px 0px;
}

.pcUniqueDetails ul {
    padding-left: clamp(10px, 1.04vw, 20px);
    margin: 0px;
}

.pcUniqueImg {
    padding: clamp(10px, 1.04vw, 20px);
}

/* Section 4 */

.pcSection4 {
    margin-top: clamp(40px, 11vw, 75px);
    position: relative;
}

.pcOval {
    height: 300px;
    width: 100%;
    padding: clamp(80px, 5vw, 400px) 0px;
    background-color: #EAF4FC;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    position: absolute;
}

.pcSubSection4 {
    position: relative;
    top: clamp(80px, 12vh, 130px);
    margin-bottom: clamp(100px, 18.5vh, 200px);;
    left: 0;
}

.pcSecSubContainer {
    color: #222222;
    text-align: center;
    /* background-color: #EAF4FC; */
}

.pcSecSubTitle {
    font-size: clamp(18px, 1.56vw, 30px);
    font-weight: bold;
    line-height: clamp(18px, 1.8vw, 40px);
    padding: clamp(10px, 1.04vw, 20px) 0px;
}

.pcSecSubDetails {
    font-size: clamp(10px, 1.04vw, 20px);
    font-weight: 500;
    line-height: clamp(16px, 1vw, 33px);
    margin: 0px clamp(40px, 15vw, 250px) clamp(10px, 1.04vw, 20px);
}

.pcWhyContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: clamp(30px, 3.12vw, 50px) clamp(10px, 1.56vw, 30px);
    padding: clamp(24px, 3.12vw, 60px) clamp(5px, 1.04vw, 20px);
    background-color: #EAF4FC;
}

.pcWhy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: clamp(165px, 30vw, 350px);
    background-color: rgba(0, 121, 209, 0.12);
    border-radius: 10px;
    padding: clamp(10px, 1.04vw, 20px);
    position: relative;
}

.pcWhyTitle {
    font-size: clamp(14px, 1.3vw, 25px);
    font-weight: 600;
    color: #0079D1;
    line-height: clamp(20px, 2.08vw, 40px);
    margin: clamp(10px, 1.04vw, 20px) 0px 0px;
}

.pcWhyDetails {
    font-size: clamp(10px, 1.04vw, 20px);
    font-weight: 600;
    color: #000000;
    line-height: clamp(14px, 1.72vw, 33px);
    margin: clamp(10px, 1.04vw, 20px) 0px;
}

.pcWhyImg {
    width: clamp(20px, 1.82vw, 35px);
    height: clamp(20px, 1.82vw, 35px);
    background-color: #0079D1;
    border-radius: 50%;
    padding: 10px;
    position: absolute;
    top: clamp(-24px, -1.25vw, -20px);
    overflow: visible;
    /* padding: clamp(10px, 1.04vw, 20px); */
}

/* Section 5 */

.pcSection5 {
    margin-top: clamp(40px, 11vw, 75px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pcTargetImg {
    width: clamp(140px, 12.65vw, 243px);
    padding: clamp(16px, 2.08vw, 40px) clamp(5px, 1.04vw, 20px);
}

.pcTAList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    gap: clamp(30px, 3.12vw, 50px) clamp(10px, 1.56vw, 30px);
    padding: 0 clamp(5px, 1.04vw, 20px) clamp(16px, 2.08vw, 40px);
}

.pcTAList div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
    font-size: clamp(16px, 1.35vw, 26px);
    font-weight: 600;
    background-color: #ECF7FF;
    border-radius: 50px;
    padding: clamp(10px, 1.04vw, 20px) clamp(20px, 2.08vw, 40px);
    box-shadow: 0 4px 10px rgba(0, 4, 4, 0.25);
}

/* Footer */

.pcFooter {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: clamp(24px, 3.12vw, 80px);
    background-color: #0079D1;
    color: #FFFFFF;
    font-size: clamp(10px, 1.04vw, 20px);
    font-weight: 500;
    cursor: pointer;
}

.pcFooterLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: clamp(14px, 1.72vw, 33px);
}

.pcContactContainer {
    margin-top: clamp(20px, 2.08vw, 40px);
}

.pcFooterImg {
    width: clamp(108px, 9.7vw, 189px);
}

.pcContactTitle {
    font-weight: 600;
}

.pcFooterRight div {
    border-left: 1px white solid;
    padding: clamp(5px, 0.52vw, 10px);
    padding: clamp(8px, 0.78vw, 15px);
}

.pcFooterRight div:first-child {
    padding-top: 0px;
}

.pcFooterRight div:last-child {
    padding-bottom: 0px;
}

/* Media Queries */

/* Responsive Design Tablet */
@media (max-width: 991px) {

    /* Header */

    .pilabzLogo {
        /* height: 50px; */
        width: 68px;
        padding: 15px;
        padding-left: 22.5px;
        display: inline-block;
        z-index: 1000;
        order: 1;
    }

    /* NavBar */

    nav {
        font-size: 13px;
    }

    nav ul {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0;
    list-style: none;
    order: 3;
    }
}


/* Responsive Design Mobile */
@media (max-width: 768px) {

    /* Header */

    .pilabzLogo {
        /* height: 50px; */
        width: 78px;
        padding: 10px;
        padding-left: 15px;
        display: inline-block;
        z-index: 1000;
        order: 1;
    }

    .dummyNavDiv {
        display: none;
    }

    /* NavBar */

    nav {
        flex-wrap: wrap;
        font-size: 12px;
    }

    header nav:first-of-type {
        display: none !important;
    }
    
    nav ul {
        display: none;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        /* margin-top: 180px; */
        margin-bottom: 10px;
        padding: 10px;
        order: 3;
        width: 100%;
        z-index: 3000;
    }

    .nav2 ul {
        margin: auto;
    }
    
    nav ul li {
        display: block;
        padding: 5px;
    }
    
    .checkbtn {
        /* float: right; */
        cursor: pointer;
        display: block;
        /* width: 5%; */
        margin-right: 10px;
        z-index: 1000;
        order: 2;
    }
    
    #check:checked nav, #check1:checked nav {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }

    #check:checked ~ ul, #check1:checked ~ ul {
        display: flex;
    }

    /* Section 1 */

    .pcSection1 {
        margin-top: 40px;
    }

    .pcMainImgContainer {
        display: none;
    }

    .pcMainImgContainerMobileWrapper {
        display: block;
        width: 100%;
        overflow: hidden;
        background-image: url(../assets/images/pages/heroBlueBgImg.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
    }

    .pcMainImgContainerMobile {
        width: 75%;
        margin: 10% 12.5%;
        overflow: hidden;
    }

    .carouselTrack {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }

    .carouselImg {
        width: 100%;
        flex-shrink: 0;
        object-fit: cover;
        border-radius: 20px;
    }

    .carouselDots {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .dot {
        height: 7px;
        width: 7px;
        margin: 0 4px;
        background-color: #D9D9D9;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.3s;
        cursor: pointer;
    }

    .dot.active {
        width: 15px;
        border-radius: 20px;
        background-color: #0079D1;
    }

    /* Section 2  */

    .pcFeature {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 90%;
        background-color: #EAF4FC;
        border-radius: 10px;
    }

    .pcFeatureContent, .pcFeatureImg {
        width: 90%;
    }

    .pcFeature2 .pcFeatureContent, .pcFeature4 .pcFeatureContent {
        order: 0;
    }

    /* Section 3 */

    .pcUniqueContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .pcUnique {
        width: 90%;
    }

    /* Section 4 */

    .pcOval {
        height: 50px;
        padding: clamp(80px, 15vw, 300px) 0px;
        background-color: #EAF4FC;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
    }

    .pcSubSection4 {
        margin-top: -70px;
    }

    .pcWhyContainer {
        padding-top: 100px;
        margin-top: -70px;
    }

    /* Section 5 */

    .pcTAList {
        justify-content: center;
        width: calc(100% - clamp(10px, 1.56vw, 30px));
    }

}